
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400&display=swap");

// theme colors
$primary: #1178a9;
$accent: #f74c8d;
$secondary: #ffa693;
$dark:#1f2c30;
$light: #fdce61;
$trans-box: rgba(0, 0, 0, 0.3);

$theme-colors: (
    "secondary": $secondary,
    "accent": $accent,
    "dark": $dark,
    "light": $light
);

// theme fonts
$display-font-solid: "Londrina Solid", cursive;
$display-font-shadow: "Londrina Shadow", cursive;
$font-stack: "Roboto", sans-serif;
