
// import custom variables and Bootstrap overrides
@import "custom";

// import Bootstrap 
@import "../node_modules/bootstrap/scss/bootstrap";

html, body, .home-banner {
    width: 100%;
    height: 100%;
}

/* background of home page with full screen image */
.home-banner {
    background-image: url("img/theater.jpg");
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    background-color: $dark;
}

// cards on home and learning pages
.home-card, .learn-card {
    background: $trans-box;
    margin: auto;

}



// learning portal background and images
.learn-banner {
    background-size: cover;
    background-position: center center; 
    box-sizing: border-box;
    height: 50%;
}
.history {
    background-image: url("img/moderntimes.jpg");

}
.concept {
    background-image: url("img/daisies.png");  
}

.image-overlay {
    position: relative;
    h3 {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 3px $dark;
        font-variant: small-caps;
    }
}

.module-card {
    // make cards equal height while compensating for 0 margins
    height: 95%;
    .card-footer { 
    // override stretched-link in footer to enable navbar hover effect
    z-index: 10;     
    } 
    // add responsive styling and hover effects to navbar
    .nav-link {
        border-bottom: 1px solid $dark;
        border-right: none; 
        color: $dark;
        &:hover {            
            background-color: $light;
            color: $dark;
        }
    }
    .nav-link:last-child {
        border: none;
        }   
}

// for xs vp only
@media only screen and (max-width:576px) {
// main navigation bar changes writing direction to fit
    nav.fixed-bottom {
        .nav-item {
            writing-mode: sideways-lr;
        }
    }
// learning portal cards are transparent since content is d-none
    .learn-card {
        background-color: transparent;
        
    }
}

@media only screen and (min-width:576px) {
// learning portal cards lose button formatting on sm+ vp
    .learn-title {
        position: absolute;
        width: 100%;
        top: -1em;
        left: 0;
    }
    .learn-card {
        padding: 1em;
        border-radius: 7px;
        border: 3px groove $light;
        .btn {
            display: inline;
            background-color: $dark;
            color: white;
            }
        .card-body {
            padding: 1em;
        }
    }

    .module-card {
        .nav-link {
            border-right: 1px solid $dark;
            border-bottom: none;
        }
        
    }
}


// learning portal background takes up full height in md+ vps
@media only screen and (min-width:768px) {
    .learn-banner {
        height: 100%;
    }
}
