
// import custom variables and Bootstrap overrides
@import "custom";

// import Bootstrap 
// @import "../node_modules/bootstrap/scss/bootstrap";

// Required Bootstrap components
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional Bootstrap components
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/utilities";

html, body, .home-banner {
    width: 100%;
    height: 100%;
    font-family: $font-stack;
}

// learning module header
header {
    height: 150px;
    font-size: 1.2em;
}

// learning module content pane
.units {
    .nav-link{
        color: $dark;
        font-size: 0.8em;
        &.active {
            background-color: $secondary;
            color: $dark;
        }
    }
}

// logo image leading to homepage inside learning module
.main-menu {
    height: 150px;
    width: 100%;
    background-color: $dark;
    // home and menu buttons
    .home {
        height: 100%;
        font-size: 7vw;
        padding: 0;
        .fa {
            line-height: 150px;
            color: $secondary;
        }
        &.btn {
            border-radius: 0;
        }
    }
}

// sidebar navigation for learning module
.navbar-column {
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    .navbar-collapse {
        background-color: $dark;
        width: 100%;
        .nav-link {
            color: $light;   
            font-size: 1.1em;
            &:not(.active){
                &:hover {
                    color: $primary;
                    background-color: $light;
                }
            }
            &.active {
                background-color: $primary;
            }
        }
        &.collapsing {
            transition: none; 
        }
        
    }
}

/* background of home page with full screen image */
.home-banner {
    background-image: url("img/theater.jpg");
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    background-color: $dark;
}

// cards on home and learning pages
.home-card, .learn-card {
    background: $trans-box;
    margin: auto;
    
    .card-title {
        font-family: $display-font-solid;
        font-size: 4em;
    }
}

// learning portal background and images
.learn-banner {
    background-size: cover;
    background-position: center center; 
    box-sizing: border-box;
    height: 50%;
}
.history {
    background-image: url("img/moderntimes.jpg");

}
.concept {
    background-image: url("img/daisies.png");  
}

// learning module cards
.module-card {
    // make cards equal height while compensating for 0 margins
    height: 95%;
    box-shadow: 1px 1px 5px 1px $primary, 3px 3px 5px 1px $secondary;
    &:hover {
        box-shadow: 1px 2px 5px 3px $primary;
    }
    // position and style header over image
    .image-overlay {
        position: relative;
        h3 {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            color: white;
            font-family: $display-font-shadow;
            text-shadow: 2px 2px 3px $dark;
            font-variant: small-caps;
            font-size: 2.5em;
            letter-spacing: 2px;
        }
        img {
            filter: brightness(65%) contrast(90%);
        }
    }
    // override stretched-link in footer
    .card-footer { 
        z-index: 1;     
        } 
    // add responsive styling and hover effects to navigation
    .nav-link {
        border-bottom: 1px solid $dark;
        border-right: none; 
        font-family: $display-font-solid;
        font-size: 1.25em;
        color: $dark;
        &:hover {            
            background-color: $light;
            color: $dark;
        }
    }
    // remove border effect on last link to preserve formatting
    .nav-link:last-child {
        border: none;
        }   
}
// lessons pages
.content-image {
    padding: 3px;
    border: 1px solid $dark;
    width: 40%;
    min-width: 250px;
    max-width: 350px;   
}

.units-content {
    dt {
        color: $primary;
    }
    dd {
        padding-left: 10px;
    }
    section {
        padding: 25px;
        margin-bottom: 15px;
        border: 1px solid $dark;
    }
}

.colorful {
    color: $accent;
    font-weight: bold;
}

// notice for pages that aren't available
.notice {
    background: $trans-box;
    color: black;
    border: 2px $accent dotted;
    padding: 5px;
}

// games
.game {
    display: flex;
    position: relative;
    max-width: 600px;
    margin: auto;
}


// jeopardy game
#jeopardy {
    text-align: center;
    .game {
        background-color: $primary;
    }
    // question & answer divs
    .prompt {
        position: absolute;
        width: 100%;
        height: 100%;
        color: white;
        p {
            width: 100%;
            padding: 1rem;
        }
        .btn-group-vertical {
            min-width: 50%;
        }
        .btn {
            border-radius: 0.25rem;
        }  
    }
    .prompt > div {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
    }
}
#answer {
    width: 100%;
    height: 100%;
}

// table styling for jeopardy game
.jeopardy-main {
    border: 2px solid $accent;
    background: $primary;
    color: white;
    font-size: 1.2em;
    margin-bottom: 0;
    table-layout: fixed;
    width: 100%;
    td {
        border-color: $secondary;
        height: 60px; 
        // hover behavior for unanswered cells
        &:not(.answered){
            &:hover {
                background-color: $secondary;
                color: $primary;
                font-weight: bold;
                cursor: pointer;
            } 
        }
        // answered cells are grayed out and not clickable
        &.answered {
            background-color: $trans-box;
            color: lightgray;
            &:hover {
                cursor: default;
            }
        }
    }
    // styling and alignment for table headings 
    thead th{
        font-family: $font-stack;
        font-variant: small-caps;
        vertical-align: middle;
        border-bottom: 2px solid $secondary;
    }
    th {
        width: 20%;
        height: 70px;
    }
}

.hide { 
    display: none;
}
// game js uses this class to flip between visible elements
.hide-z {
    z-index: -1;
}

// media queries
// for xs vp only
@media only screen and (max-width:576px) {
    // main bottom nav bar changes writing direction to fit
    nav.fixed-bottom {
        .nav-item {
            writing-mode: sideways-lr;
        }
    }
    // learning portal cards are transparent when content is hidden
    .learn-card {
        background-color: transparent;
    }
    // units navigation is hidden
    .units:not(#games-units) {
        display: none;
    }
    // except for games page, where it stacks
    #games-units {
        li {
            display: block;
            width: 100%;
        }
    }
    // jeopardy table adjusts to fit
    .jeopardy-main {
        thead th {
            vertical-align: bottom;
            > span {
            font-size: .75rem;
            writing-mode: sideways-lr;
            }
        }
    }
    // navigation buttons stack
    .units-content button {
        display: block;
        width: 100%;
    }
}

// for sm+ vp
@media only screen and (min-width:576px) {
    // learning portal card appearance 
    .learn-title {
        position: absolute;
        width: 100%;
        top: -1em;
        left: 0;
    }
    .learn-card {
        padding: 1em;
        border-radius: 7px;
        border: 3px groove $light;
        .btn {
            display: inline;
            background-color: $dark;
            color: white;
            }
        .card-body {
            padding: 1em;
        }
    }
    // learning module card borders adapted to stacked positioning
    .module-card {
        .nav-link {
            border-right: 1px solid $dark;
            border-bottom: none;
        }
    }
}

// for md+ vps
@media only screen and (min-width:768px) {
    // learning portal background takes up full height
    .learn-banner {
        height: 100%;
    }

    .units {
        .nav-link{
            font-size: 1em;
        }
    }
}

// for xs and sm vps only
@media only screen and (max-width:768px) {
    // hamburger menu button takes the place of the home button
    .main-menu {
        button {
            display: block;
            margin: auto;
        }
    }
     // when visible, sidebar appears on top of other content
    .navbar-column {
        z-index: 10;    
        // override BS navbar styling
        .navbar {
            position: relative;
            flex-wrap: nowrap;
        }
        // preserve sidebar formatting when it appears
        .navbar-collapse {    
            &.show {
            width: max-content;
            position: relative;
            margin-left: auto;  
            display: flex;
            }
        }
    }
    // center card and content panels when sidebar is hidden
    .content-panel {
        position: relative;
        width: 100%;
        left: -1.7em;
    }
    .card-panel {
        position: relative;
        left: -2em;
    }
   
}
// additional media query for blur game bc it isnt yet adaptable for smaller screens
@media only screen and (max-width: 800px) {
    #blur-notice {
        display: inline-block;
        + p {
            display: none;
        }
        ~ div {
            display: none;
        }
    }
}